{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Choice 2
{% endblock %}

{% block content %}

<p>You have to choose between the following options. There is a bag filled with 50 black and 50 white balls. One random draw with replacement is conducted. We will use the same bag that we used for Choice 1.</p> <br>
<b>Option A:</b> <br>
<p>You will be paid <b>{{ Constants.cpayoff }}</b> if a <b>white</b> marble is drawn and <b>{{ Constants.zeropayoff }}</b> if a <b>black</b> marble is drawn.</p> <br>
<p>There is another bag that is filled with 100 marbles. The combination of black and white marbles is unknown. (You do not know the exact frequency of black and white marbles.) We will use the same bag that we used for Choice 1.<p/>
 <br>
<b>Option B:</b> <br>
<p>You will be paid <b>{{ Constants.cpayoff }}</b> if a <b>white</b> marble is drawn and <b>{{ Constants.zeropayoff }}</b>  if a <b>black</b> marble is drawn.
In addition, you will be paid {{ Constants.markuppayoff }} no matter what color is drawn.</p> <br>

    {% formfield player.ambiguity2 %}



    {% next_button %}

{% endblock %}
